<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>quicktalking</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta name="referrer" content="no-referrer" /> <!--可以让img标签预加载网络图片-->
    <script src="static/js/font.js"></script>
    <script src="static/js/hidpi-canvas.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="shortcut icon" type="image/x-icon" href="static/2_03_03.png">
    <!-- 添加manifest文件 -->
    <link rel="manifest" href="/static/manifest.json">
  </head>
  <!--<script src=<%= htmlWebpackPlugin.options.path %>/tinymce4.7.5/tinymce.min.js></script>-->
  <body>
    <!-- 注册service-worker.js -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!--chrome://flags/#enable-app-banners-->
  </body>
</html>
